---
layout: default
about: about/
---

<header class="site-head">
    <div class="vertical">
        <div class="site-head-content" class="inner">
            {% if site.logo %}
                <a class="blog-logo" href="{{ site.url }}">
                    <img src="{{ site.url }}/{{ site.logo}}" alt="{{ site.name}}" />
                </a>
            {% endif %}
        </div>
    </div>
</header>

<center/>
  <a href='{{site.baseurl}}'>[home]</a> 
  <a href='{{site.baseurl}}{{ page.about }}'>[about me]</a>
  <a href="{{ site.baseurl }}rss.xml">[rss]</a>
</center>

<main class="content" role="main">
    <article class="post">
<!--        <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{ site.url }}/{{ site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%} 
            </a>
        </header>
-->

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
