---
layout: default
talks: talks/
about: about/
---

<main class="content" role="main">
    <br />
    <center/>
      <a href='{{site.url}}/'>[posts]</a> 
      <a href='{{site.url}}/talks/'>[talks]</a> 
      <a href='{{site.url}}/about/'>[about me]</a>
      <a href="{{site.url}}/rss.xml">[rss]</a>
    </center>

    <article class="post">
        <h3 class="post-title">{{ page.title }}</h3>

        <section class="post-content">
            {{content}}
        </section>

    </article>
</main>
