---
layout: default
disqus: true
archive: false
---

<main class="content" role="main">
    <article class="post">
        <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories %}
                on
                {% for category in page.categories %}
                    {{category}}
                {% endfor %}
            {% endif %}
       	</span>

        <h3 class="post-title">{{ page.title }}</h3>

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </article>
</main>
